* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    background-image: url("./imagenes/stormwind.jpg");
    background-size: cover;
    
}

.head {
    background-color: rgb(40,40,40);
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}


/* CONVERTIR A DIV */
.nombre-pyme {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    padding: 5px;
}

.inicio-sesion {
    color:lightsteelblue;
}

.categorias {
    display: flex;
}

.categoria {
    flex: 1;
}