* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    background-image: url("./imagenes/stormwind.jpg");
    background-size: cover;
    
}

.head {
    background-color: rgb(40,40,40);
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    
}


/* CONVERTIR A DIV */
.nombre-pyme {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    flex: 1 0 0;
    margin-left: 20px;
    text-align: left;
}

.teclado-img {
    margin: auto;
    width: auto;
    height: 35px;
}

.inicio-sesion {
    color:lightsteelblue;
    text-align: right;
    font-size: 20px;
}

.div-inicio-sesion {
    flex:1 0 0;
    text-align: right;
    margin-right: 20px;

}


.titulo-categoria {
    font-size: 60px;
    margin-top: 50px;
    text-align: center;
}

.categorias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    row-gap:50px;
    margin:50px;
}

.categoria {
    border:solid black 5px;
    width: 500px;
    height:300px;
    position:relative;
    text-align: center;
}

.categoria-img {
    width: 490px;
    height: 290px;
}

.nombre-categoria {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    /* background-color: rgb(40,40,40); */
}